<a href="https://colab.research.google.com/github/iambrookedrake/DS-Unit-1-Sprint-1-Data-Wrangling-and-Storytelling/blob/master/module1-define-ml-problems/Brooke_Drake_DSPT6_U2S3M1_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lambda School Data Science

*Unit 2, Sprint 3, Module 1*

---


# Define ML problems

You will use your portfolio project dataset for all assignments this sprint.

## Assignment

Complete these tasks for your project, and document your decisions.

- [ ] Choose your target. Which column in your tabular dataset will you predict?
- [ ] Is your problem regression or classification?
- [ ] How is your target distributed?
    - Classification: How many classes? Are the classes imbalanced?
    - Regression: Is the target right-skewed? If so, you may want to log transform the target.
- [ ] Choose your evaluation metric(s).
    - Classification: Is your majority class frequency >= 50% and < 70% ? If so, you can just use accuracy if you want. Outside that range, accuracy could be misleading. What evaluation metric will you choose, in addition to or instead of accuracy?
    - Regression: Will you use mean absolute error, root mean squared error, R^2, or other regression metrics?
- [ ] Choose which observations you will use to train, validate, and test your model.
    - Are some observations outliers? Will you exclude them?
    - Will you do a random split or a time-based split?
- [ ] Begin to clean and explore your data.
- [ ] Begin to choose which features, if any, to exclude. Would some features "leak" future information?

If you haven't found a dataset yet, do that today. [Review requirements for your portfolio project](https://lambdaschool.github.io/ds/unit2) and choose your dataset.

Some students worry, ***what if my model isn't “good”?*** Then, [produce a detailed tribute to your wrongness. That is science!](https://twitter.com/nathanwpyle/status/1176860147223867393)


* Choose your target. Which column in your tabular dataset will you predict?
'Absenteeism time in hours'

* Is your problem regression or classification?
Regression

* How is your target distributed?
left-skewed

* Choose your evaluation metric(s).
Regression: Will you use mean absolute error, root mean squared error, R^2, or other regression metrics?

* Choose which observations you will use to train, validate, and test your model. 
No outliers
Random split

* Begin to clean and explore your data.

* Begin to choose which features, if any, to exclude. Would some features "leak" future information?
drop: 'Work load Average/day', 'Hit target', 'Social smoker'
adjust: 'age'&'Service time' for double impact

In [0]:
##From source:: https://archive.ics.uci.edu/ml/datasets/Absenteeism+at+work
! wget https://archive.ics.uci.edu/ml/machine-learning-databases/00445/Absenteeism_at_work_AAA.zip

--2020-06-03 23:03:42--  https://archive.ics.uci.edu/ml/machine-learning-databases/00445/Absenteeism_at_work_AAA.zip
Resolving archive.ics.uci.edu (archive.ics.uci.edu)... 128.195.10.252
Connecting to archive.ics.uci.edu (archive.ics.uci.edu)|128.195.10.252|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 66136 (65K) [application/x-httpd-php]
Saving to: ‘Absenteeism_at_work_AAA.zip’

Absenteeism_at_work 100%[===================>]  64.59K  --.-KB/s    in 0.06s

2020-06-03 23:03:42 (1.05 MB/s) - ‘Absenteeism_at_work_AAA.zip’ saved [66136/66136]

In [0]:
! unzip Absenteeism_at_work_AAA.zip

Archive:  Absenteeism_at_work_AAA.zip
  inflating: Absenteeism_at_work.arff
  inflating: Absenteeism_at_work.csv
  inflating: Absenteeism_at_work.xls
  inflating: Attribute Information.docx
  inflating: UCI_ABS_TEXT.docx

In [0]:
import pandas as pd

absent = pd.read_excel('Absenteeism_at_work.xls')
absent.head()

   ID  Reason for absence  ...  Body mass index  Absenteeism time in hours
0  11                  26  ...               30                          4
1  36                   0  ...               31                          0
2   3                  23  ...               31                          2
3   7                   7  ...               24                          4
4  11                  23  ...               30                          2

[5 rows x 21 columns]

In [0]:
absent.tail()

     ID  Reason for absence  ...  Body mass index  Absenteeism time in hours
735  11                  14  ...               30                          8
736   1                  11  ...               29                          4
737   4                   0  ...               34                          0
738   8                   0  ...               35                          0
739  35                   0  ...               25                          0

[5 rows x 21 columns]

In [0]:
absent.describe()

               ID  ...  Absenteeism time in hours
count  740.000000  ...                 740.000000
mean    18.017568  ...                   6.924324
std     11.021247  ...                  13.330998
min      1.000000  ...                   0.000000
25%      9.000000  ...                   2.000000
50%     18.000000  ...                   3.000000
75%     28.000000  ...                   8.000000
max     36.000000  ...                 120.000000

[8 rows x 21 columns]

In [0]:
absent.shape

(740, 21)

In [0]:
absent['Day of the week'].value_counts()

2    161
4    156
3    154
6    144
5    125
Name: Day of the week, dtype: int64

In [0]:
absent['Absenteeism time in hours'].value_counts().sort_index()

0       44
1       88
2      157
3      112
4       60
5        7
7        1
8      208
16      19
24      16
32       6
40       7
48       1
56       2
64       3
80       3
104      1
112      2
120      3
Name: Absenteeism time in hours, dtype: int64

In [0]:
absent['OneDayOnly'] = absent['Absenteeism time in hours'] <=8
absent['HalfDayOnly'] = absent['Absenteeism time in hours'] <=5
absent.head()

   ID  Reason for absence  ...  OneDayOnly  HalfDayOnly
0  11                  26  ...        True         True
1  36                   0  ...        True         True
2   3                  23  ...        True         True
3   7                   7  ...        True         True
4  11                  23  ...        True         True

[5 rows x 23 columns]

In [0]:
absent['OneDayOnly'].value_counts(normalize=True)

True     0.914865
False    0.085135
Name: OneDayOnly, dtype: float64

In [0]:
absent['HalfDayOnly'].value_counts(normalize=True)

True     0.632432
False    0.367568
Name: HalfDayOnly, dtype: float64

In [0]:
absent['ID'].value_counts()

3     113
28     76
34     55
22     46
20     42
11     40
15     37
36     34
24     30
14     29
33     24
10     24
1      23
17     20
5      19
18     16
13     15
25     10
6       8
9       8
23      8
27      7
30      7
12      7
7       6
2       6
29      5
26      5
32      5
31      3
19      3
21      3
16      2
8       2
35      1
4       1
Name: ID, dtype: int64

In [0]:
absent['ID'].value_counts().describe()

count     36.000000
mean      20.555556
std       23.695020
min        1.000000
25%        5.000000
50%        9.000000
75%       29.250000
max      113.000000
Name: ID, dtype: float64

In [0]:
emp3 = absent[absent['ID']==3]
emp3.head()

    ID  Reason for absence  ...  OneDayOnly  HalfDayOnly
2    3                  23  ...        True         True
5    3                  23  ...        True         True
13   3                  11  ...        True         True
14   3                  23  ...        True         True
16   3                  23  ...        True         True

[5 rows x 23 columns]

In [0]:
emp3.head(50)

     ID  Reason for absence  ...  OneDayOnly  HalfDayOnly
2     3                  23  ...        True         True
5     3                  23  ...        True         True
13    3                  11  ...        True         True
14    3                  23  ...        True         True
16    3                  23  ...        True         True
17    3                  21  ...        True        False
21    3                  11  ...        True         True
29    3                  23  ...        True         True
30    3                  18  ...        True        False
34    3                  23  ...        True         True
42    3                  23  ...        True         True
46    3                  23  ...        True         True
57    3                  23  ...        True         True
60    3                  23  ...        True         True
62    3                  23  ...        True         True
66    3                  23  ...        True         True
72    3                  23  ...        True        False
80    3                  23  ...        True         True
82    3                  13  ...        True        False
139   3                  11  ...        True        False
173   3                  13  ...       False        False
179   3                  13  ...        True         True
191   3                  13  ...       False        False
207   3                  18  ...        True        False
211   3                  12  ...        True         True
217   3                  11  ...        True         True
225   3                  11  ...        True        False
233   3                  11  ...        True         True
248   3                  26  ...        True        False
270   3                  11  ...        True        False
271   3                  23  ...        True         True
278   3                  13  ...        True        False
280   3                  23  ...        True         True
288   3                  13  ...        True        False
298   3                  28  ...        True         True
319   3                   6  ...        True        False
329   3                  28  ...        True         True
333   3                  28  ...        True         True
338   3                  23  ...        True         True
340   3                  28  ...        True         True
341   3                  28  ...        True         True
346   3                  28  ...        True         True
347   3                  28  ...        True         True
351   3                  28  ...        True         True
356   3                  28  ...        True         True
367   3                  28  ...        True         True
368   3                  28  ...        True         True
370   3                  27  ...        True         True
374   3                  23  ...        True         True
375   3                  27  ...        True         True

[50 rows x 23 columns]

In [0]:
absent['Absenteeism time in hours'].sum()

5124

In [0]:
pd.crosstab(absent['ID'], absent['Absenteeism time in hours'], margins=True, dropna=False)

Absenteeism time in hours   0   1    2    3   4  5  ...  64  80  104  112  120  All
ID                                                  ...
1                           1   3    2    2   5  0  ...   0   0    0    0    0   23
2                           2   1    0    0   0  0  ...   0   0    0    0    0    6
3                           1  19   26   33  10  0  ...   0   0    0    0    0  113
4                           1   0    0    0   0  0  ...   0   0    0    0    0    1
5                           5   0    2    0   1  0  ...   0   0    0    0    0   19
6                           0   0    0    0   0  0  ...   0   0    0    0    0    8
7                           2   0    1    0   1  0  ...   0   0    0    0    0    6
8                           2   0    0    0   0  0  ...   0   0    0    0    0    2
9                           0   1    1    1   0  0  ...   0   0    0    1    1    8
10                          0   3    2    0   1  0  ...   0   0    0    0    0   24
11                          2   2    1    2   2  0  ...   0   0    1    0    0   40
12                          0   0    2    2   0  0  ...   0   0    0    0    0    7
13                          2   0    0    1   1  0  ...   0   1    0    0    0   15
14                          0   3    8    0   3  1  ...   0   1    0    0    1   29
15                          2   7    8    4   6  2  ...   0   0    0    0    0   37
16                          0   0    0    0   0  0  ...   0   0    0    0    0    2
17                          0   2    7    2   0  0  ...   0   0    0    0    0   20
18                          2   2    0    0   1  0  ...   0   0    0    0    0   16
19                          1   0    1    0   1  0  ...   0   0    0    0    0    3
20                          3   0    1    8  14  0  ...   0   0    0    0    0   42
21                          1   0    0    0   0  0  ...   0   0    0    0    0    3
22                          0   7   21    6   0  2  ...   1   0    0    0    0   46
23                          3   0    0    0   0  0  ...   0   0    0    0    0    8
24                          1   3    6    1   1  0  ...   0   0    0    0    0   30
25                          0   0    3    4   0  0  ...   0   0    0    0    0   10
26                          0   1    1    0   0  0  ...   1   0    0    0    0    5
27                          0   1    3    0   1  0  ...   0   0    0    0    0    7
28                          1  13   25   21   4  1  ...   0   0    0    1    0   76
29                          1   0    1    1   0  0  ...   0   0    0    0    0    5
30                          1   0    1    3   1  0  ...   0   0    0    0    0    7
31                          1   0    0    0   0  0  ...   0   0    0    0    0    3
32                          0   1    2    1   0  0  ...   0   0    0    0    0    5
33                          1   5    8    4   2  0  ...   0   0    0    0    0   24
34                          1   4   19   11   4  1  ...   1   0    0    0    0   55
35                          1   0    0    0   0  0  ...   0   0    0    0    0    1
36                          6  10    5    5   1  0  ...   0   1    0    0    1   34
All                        44  88  157  112  60  7  ...   3   3    1    2    3  740

[37 rows x 20 columns]

In [0]:
absent['Absenteeism time in hours']

In [0]:
absent.dtypes

ID                                 int64
Reason for absence                 int64
Month of absence                   int64
Day of the week                    int64
Seasons                            int64
Transportation expense             int64
Distance from Residence to Work    int64
Service time                       int64
Age                                int64
Work load Average/day              int64
Hit target                         int64
Disciplinary failure               int64
Education                          int64
Son                                int64
Social drinker                     int64
Social smoker                      int64
Pet                                int64
Weight                             int64
Height                             int64
Body mass index                    int64
Absenteeism time in hours          int64
OneDayOnly                          bool
HalfDayOnly                         bool
dtype: object

In [0]:
##pivot table or group by